[submodule "colosseum-hackathon"]
	path = programs_colosseum_Hackathon
	url = https://github.com/vdsilveira/programs_colosseum_Hackathon.git
[submodule "AI_agente-Oracle_colosseum_Hackathon"]
	path = AI_agente-Oracle_colosseum_Hackathon
	url = https://github.com/vdsilveira/AI_agente-Oracle_colosseum_Hackathon.git

