[submodule "colosseum-hackathon"]
	path = programs_colosseum_Hackathon
	url = https://github.com/vdsilveira/programs_colosseum_Hackathon.git
[submodule "AI_agente-Oracle_colosseum_Hackathon"]
	path = AI_agente-Oracle_colosseum_Hackathon
	url = https://github.com/vdsilveira/AI_agente-Oracle_colosseum_Hackathon.git

[submodule "API_videos_colosseum_Hackathon"]
	path = API_videos_colosseum_Hackathon
	url = https://github.com/Alisson-tech/Backend-views-Solana.git
[submodule "core-api"]
	path = core-api
	url = git@github.com:rayangustavo/solcuts-core-api.git
